/*Navbat background colors*/
.navbar-custom-theme {
    background: linear-gradient(to left, #71EDCE, #ADF7E9);

  height: 50px;
}

.navbar-brand {
    color: #03d2f3;
}

.nav-link {
    color: white;
    font-size: 14pt;
}

#brand-image {
    height: 30px;
}


.btn-block {
    background: #e8e4da;

}

.btn-sm {
    /*background: #9f9fed;*/
    /*background: #d4c1ec;*/
    background: #e8e4da;
}

#history {
    width: 25%;
    float: left;
}

#streak-chart {
    width: 75%;
    float: right;
}

#streak-how-button {
    background: #abf4e2f0;

}

#streak-how-body {
    background-color: #fef9ff;
}

#word-cloud-header {
    font-family: 'Inconsolata', monospace;
    font-size: 12;
    padding-left: 280px;
    color: #54585c;
}

#actionChart {
    padding-left: 100px;  
}

body {
    font-family: 'Inconsolata', monospace;
    height: 100%;
    margin: 0;
}

.journal-input-box-size {
    font-size:12pt;
}


.padding-left {
    padding-left: 10px;
}

#beach-image {
    width: 100%;
    height: 100%;
    background-image: url(lightBeach.jpg);
    position: absolute;
    z-index: -1;
}

.centering-div-container {
    text-align: center;
}
.allign-input {
  display: inline-block;
}

.allign-labels {
    display: inline-block;
    clear: left;
    width: 320px;
    text-align: right;
    font-size: 14pt;
}



