/*Navbat background colors*/
.navbar-custom-theme {
  background: linear-gradient(to left, #9f9fed, #d4c1ec);
  height: 50px;
}

#brand-image {
    height: 35px;
}

#streak-how-button {
    background-color: #736ced;
}

#streak-how-body {
    background-color: #fef9ff;
}

.btn-block {
    /*background: #9f9fed;*/
    background: #d4c1ec;
}

.btn-sm {
    /*background: #9f9fed;*/
    background: #d4c1ec;
}

#history {
    width: 25%;
    float: left;
}

#streak-chart {
    width: 75%;
    float: right;
}

#word-cloud-header {
    font-family: 'Inconsolata', monospace;
    font-size: 12;
    /*text-align: center;*/
    padding-left: 280px;
    /*color: #6c757d;*/
    color: #54585c;
}

#actionChart {
    padding-left: 100px;  
}

body {
    font-family: 'Inconsolata', monospace;
    /*font-size: 14pt;*/
}

.journal-input-box-size {
    font-size:12pt;
}

#centering-div-container {
    text-align: center;
}

.padding-left {
     padding-left: 10px;
}

