/*Navbat background colors*/
.navbar-custom-theme {
  background: linear-gradient(to left, #9f9fed, #d4c1ec);
  height: 50px;
}

#brand-image {
    height: 35px;
}

#streak-how-button {
    background-color: #736ced;
}

#streak-how-body {
    background-color: #fef9ff;
}

.btn-block {
    /*background: #9f9fed;*/
    background: #d4c1ec;
}