{% extends 'base.html' %}

{% block content %}

  <div class="chart-container">
      <canvas id="actionChart" style="border: 1px solid black; width: 75%;"></canvas>
   <!--    <div id="chartLegend"></div> -->
  </div> 

   <!--  <div class="row">  
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" id='streak-how-button'>How is Action Analysis performed?</a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body" style="width:50%;" id='streak-how-body'>
               <ul>
                  <li>Write something here</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div> 
 -->


{% endblock %}

{% block script %}
<script src="/static/wordCloud.js"></script>
{% endblock %}