<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Smart Journal</title>
    
        <link rel="shortcut icon"
        href="/static/favicon.ico">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">

        <link rel="stylesheet"  href="/static/styles.css">
    </head>

    <body style="background-color:#f2dfd7;">

<!--         <div>
            <a href="/home">Take me home</a> 
            || 
            <a href="/logout">Logout</a>
            || 
            <a href="/profile">Profile</a>
        </div> -->

        <nav class="navbar navbar-custom-theme">
            <div class="navbar-nav container flex-row">
                <a class="navbar-brand" href="/"> <img src="/static/brand_image.png" id="brand-image" /> MySmartJournal</a>
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/history">History</a>
                <a class="nav-item nav-link" href="/happy">Happiness Stats</a>
                <a class="nav-item nav-link" href="/sentiment-analysis">Sentiment Ananlysis</a>
                <a class="nav-item nav-link" href="/streak">Streak Stats</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </nav>


        {% for flash in get_flashed_messages() %}
          {{ flash }}
        {% endfor %}

        {% block content %}
          Put your body here.
        {% endblock %}

        <!-- SCRIPT TAGS -->

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        
        <!-- charts js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

        <!-- BOOTSRAP realted script tags -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

        {% block script %}
<!--           Put your javascript script tags here. -->
         {% endblock %}

    </body>
</html>