{% extends 'base.html' %}
{% block content %}
<h1>Create Account</h1>
<form action='/create-account' method='POST'>

    <div>
        <label>
            Email
            <input type="email" name="email" required/ >
        </label>
    </div>
    
    <br>
    
    <div>
        <label>
            Password
            <input type="password" name="password" required />
        </label>
    </div>
    
    <br>

    <div>
        <label>
            First Name
            <input type="text" name="fname" required />
        </label>
    </div>
    
    <br>

    <div>
        <label>
            Last Name
            <input type="text" name="lname" required />
        </label>
    </div>
    
    <br>

    <div>
        <label>
            Phone Number
            <input type="tel" name="phone_number" placeholder="111 111 1111" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required />
        </label>
    </div>

    <br>

    <div>
        <label>
            Enable Texting
            <input type="radio" name="texting_enabled" value='true' />Yes
            <input type="radio" name="texting_enabled" value='false' />No
        </label>
    </div>
    
    <br>
    
    <div>
        <input type="submit" value="Submit" />
    </div>


</form>

{% endblock %}