{% extends 'base.html' %}
{% block content %}
<h1>History of Journal Entries</h1>

<div>
    <button type="button" class="btn btn-secondary btn-sm"><a href="/history?sort=desc">Sort Entries by Latest</a> </button>
    <button type="button" class="btn btn-secondary btn-sm"><a href="/history?filter=night">Filter Entries by 'Night'</a> </button>
    <button type="button" class="btn btn-secondary btn-sm"><a href="/history?filter=morning">Filter Entries by 'Morning'</a></button> <br>
</div>

<span id='history'>
<!-- <p>{{ journal_entries_lst }}</p> -->
    <ul>
        {% for journal_entry in journal_entries_lst %}
       <li> Date: {{ journal_entry.date }} </li>
        <ul> 
            <li> Type: {{ journal_entry.entry_type }}</li>
            <li> <a href="/view-entry/{{ journal_entry.entry_id }}">Details</a> </li>
            <br>
        </ul>
        {% endfor %}
    </ul>
</span>

<span id='streak-chart'>
    <div class="container">
        <div class="row">
            <div class="chart-container" style="width:75%;">
                <canvas id="streakChart"></canvas>
                <!-- <div id="chartLegend"></div> -->
            </div>
        </div>

    <div class="row">  
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" id='streak-how-button'>How are streaks calculated?</a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body" style="width:50%;" id='streak-how-body'>
                    Streaks are calculated by checking if you have made at least 1 journal entry per day.
                    If you consecutively make 1 journal entry a day your streak will increase by +1 for each day. 
                    If you miss a day, your streak will go down to 0. Try your best to write in the journal once a day.
                    If you have not yet enabled SMS communication, remember MySmartJournal can remind you to make an entry :)
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</span>

{% endblock %}

{% block script %}
<script src="/static/streak.js"></script>
{% endblock %}