{% extends 'base.html' %}
{% block content %}
<h1>Welcome to My Smart Journal</h1>

<!-- <h2><a href='/login'>Login</a></h2> -->
<!-- <h2><a href='/create-account'>Create Account</a></h2>  -->


<button type="button" class="btn btn-primary btn-lg btn-block"> <a href='/login'>Login</a> </button>
<button type="button" class="btn btn-secondary btn-lg btn-block"><a href='/create-account'>Create Account</a></button>

<!-- <div style="width:50%;">
    <img src="/static/journal_coffee.jpg" />
</div>
 -->

{% endblock %}