{% extends 'base.html' %}
{% block content %}
<div id="beach-image" >

<br />
<button type="button" class="btn btn-lg btn-block btn-outline-light" id="LoginButton"><b>Login</b></button>

<button type="button" class="btn btn-lg btn-block btn-outline-light" id="CreateAccountButton"><b>Create Account</b></button>

<br />  
        <!-- LOGIN -->
<div id='loginForm' class='centering-div-container'>
    <h2>Login</h2>
    <form action='/login' method='POST'>
        <div class='allign-input allign-labels'>
            <label>
                Email
                <input type="email" name="email">
            </label>

            <label>
                Password
                <input type="password" name="password">
            </label>
            
            <br>

            <input type="submit" value="Submit" class="btn btn-outline-success" />
        </div>
    
    </form>
</div>

<!-- CREATE ACCOUNT -->

<div id='createAccountForm' class='centering-div-container'>
    <h2>Create Account</h2>
    <form action='/create-account' method='POST'>
        <div class='allign-input allign-labels' >
            <label>
                Email
                <input type="email" name="email" autocomplete="off" required />
            </label>
     
            <label>
                Password
                <input type="password" name="password" autocomplete="off" required />
            </label>

            <label>
                First Name
                <input type="text" name="fname" autocomplete="off" required />
            </label>

             <label>
                Last Name
                <input type="text" name="lname" autocomplete="off" required />
            </label>

            <label>
                Phone Number
                <input type="tel" name="phone_number" placeholder="111 111 1111" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" autocomplete="off" required />
            </label>

            <label>
                Enable Texting
                <input type="radio" name="texting_enabled" value='true' />Yes
                <input type="radio" name="texting_enabled" value='false' />No
            </label>
            <br>
            <input type="submit" value="Submit" class="btn btn-outline-success" />
        </div>
    </form>
</div>

{% endblock %}


{% block script %}
<script src="/static/index.js"></script>
{% endblock %}