{% extends 'base.html' %}

{% block content %} 

<div class="centering-div-container">
<h1>Journal Entry</h1>
<br />
<form action='/home' method='POST'>
    <div>
        <label>
            Date
            <input type="date" name="date" placeholder="01/12/2020" required />
        </label>
    </div>

    <br />

    <div>
        Is this a <b>morning</b> or <b>night</b> entry?

        <input type="radio" id="morningButton" name="entry_type" value='morning' /><label for="morningButton">Morning</label>

        <input type="radio" id="nightButton" name="entry_type" value='night' />
        <label for="nightButton">Night</label>
    </div>

    <br />

<!-- MORNING ROUTINE -->
<div id='morning-qs'>
    <div>
        <label>
            What are three things you are grateful for today?
           <!--  <input type="text" name="mor_q1_entry" autocomplete="off" class="journal-input-box-size" /> -->
            <br />
           <textarea rows="4" cols="50" name="mor_q1_entry" autocomplete="off" class="journal-input-box-size"></textarea>
        </label>
    </div>

    <div>
        <label> 
            What are three things you can do to make today great?
            <!-- <input type="text" name="mor_q2_entry" autocomplete="off" /> -->

            <br />
           <textarea rows="4" cols="50" name="mor_q2_entry" autocomplete="off" class="journal-input-box-size"></textarea>
        </label>
    </div>

    <div>
        <label>
             Daily Affirmations: Write down three things about yourself that you want to reinforce.
            <!-- <input type="text" name="mor_q3_entry" autocomplete="off" /> -->
            <br />
           <textarea rows="4" cols="50" name="mor_q3_entry" autocomplete="off" placeholder= "ex: I am a great software engineer" class="journal-input-box-size"></textarea>
        </label>
    </div>
</div>
<!-- MORNING ROUTINE -->

<!-- NIGHT ROUTINE  -->
<div id='night-qs'>
    <div>
        <label>
            What are three amazing things that happened today?
            <!-- <input type="text" name="night_q1_entry" cols="40" rows="5" autocomplete="off" /> -->
            <br />
            <textarea rows="4" cols="50" name="night_q1_entry" autocomplete="off" class="journal-input-box-size"></textarea>
        </label>
    </div>

    <div>
        <label> 
            How could I have made today better?
            <!-- <input type="text" name="night_q2_entry" autocomplete="off" /> -->
              <br />
            <textarea rows="4" cols="50" name="night_q2_entry" autocomplete="off" class="journal-input-box-size"></textarea>
        </label>
    </div>

    <div>
        <label>
             What is one kind thing I did for myself or someone else today?
            <!-- <input type="text" name="night_q3_entry" autocomplete="off" /> -->
              <br />
            <textarea rows="4" cols="50" name="night_q3_entry" autocomplete="off" class="journal-input-box-size"></textarea>
        </label>
    </div>
</div>
<!-- NIGHT ROUTINE  --> 
<br/>
    <div>
        <label>
            On a scale of 1-5, 5 being 'very happy', how do you feel?
            <input type="number" min=1 max=5 name="happ_score" />
        </label>
    </div>

    <br />

    <div>
        <input type="submit" value="Submit" class="btn btn-outline-success" />
    </div> 
</form>
</div>
{% endblock %}


{% block script %}
<script src="/static/mkJournalEntry.js"></script>
{% endblock %}