{% extends 'base.html' %}

{% block content %} 

<h1>Journal Entry</h1>

<form action='/home' method='POST'>
    <div>
        <label>
            Date
            <input type="date" name="date" placeholder="01/12/2020" required />
        </label>
    </div>

    <br />

    <div>
        <label>
            Is this a 'morning' or 'night' entry?
            <input type="radio" id="morningButton" name="entry_type" value='morning' />Morning
            <input type="radio" id="nightButton" name="entry_type" value='night' />Night
        </label>
    </div>

    <br />

<!-- MORNING ROUTINE -->
<div id='morning-qs'>
    <div>
        <label>
            What are three things you are grateful for today?
            <input type="text" name="mor_q1_entry" autocomplete="off" />
        </label>
    </div>

    <div>
        <label> 
            What are three things you can do to make today great?
            <input type="text" name="mor_q2_entry" autocomplete="off" />
        </label>
    </div>

    <div>
        <label>
             Daily Affirmations: Write down three things about yourself that you want to reinforce (ex: I am a great software engineer)
            <input type="text" name="mor_q3_entry" autocomplete="off" />
        </label>
    </div>
</div>
<!-- MORNING ROUTINE -->

<!-- NIGHT ROUTINE  -->
<div id='night-qs'>
    <div>
        <label>
            What are three amazing things that happened today?
            <input type="text" name="night_q1_entry" cols="40" rows="5" autocomplete="off" />
            <!-- <textarea name="q1_entry" cols="40" rows="2" autocomplete="off"></textarea> -->
        </label>
    </div>

    <div>
        <label> 
            How could I have made today better?
            <input type="text" name="night_q2_entry" autocomplete="off" />
        </label>
    </div>

    <div>
        <label>
             What is one kind thing you did for yourself or someone else today?
            <input type="text" name="night_q3_entry" autocomplete="off" />
        </label>
    </div>
</div>
<!-- NIGHT ROUTINE  --> 
<br/>
    <div>
        <label>
            On a scale of 1-5, 5 being 'very happy', how do you feel?
            <input type="number" min=1 max=5 name="happ_score" />
        </label>
    </div>

    <br />

    <div>
        <input type="submit" value="Submit" />
    </div> 
</form>

{% endblock %}


{% block script %}
<script src="/static/mkJournalEntry.js"></script>
{% endblock %}