{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="chart-container" style="width:75%;">
                <canvas id="sentimentChart"></canvas>
             <!--    <div id="chartLegend"></div> -->
            </div> 
    </div>
    <div class="row">  
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" id='streak-how-button'>How is Sentiment Analysis performed?</a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body" style="width:50%;" id='streak-how-body'>
               <ul>
                    <li>Sentiment Analysis is performed using the Amazon Web Services Comprehend API</li>
                    <li>This particularly API uses Natural Language Processing and Machine Learning to determine if your journal inputs are positive, negative or neutral (amongst other things)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div> 

       

{% endblock %}

{% block script %}
<script src="/static/sentimentAnalysis.js"></script>
{% endblock %}