{% extends 'base.html' %}
{% block content %}
<div class="padding-left">
<br />

<h4>
    <b>Entry date:</b> {{ single_journal_entry.date }}
</h4>

<h4>
    <b>Entry type:</b> {{ single_journal_entry.entry_type.title() }} ☀️
</h4>

<h4>
    <b>Happiness score:</b> {{ single_journal_entry.happ_score }}
</h4>

<p>
    <b>
        <h5>What are three things you are grateful for today?</h5>
    </b>
</p>

<h5>
    ✍️ Your response:  <i>{{ single_journal_entry.q1_text }}</i>
</h5>


<p>
    <b>
        <h5>What are three things you can do to make today great?</h5>
    </b>
</p>

<h5>
    ✍️ Your response:  <i>{{ single_journal_entry.q2_text }}</i>
</h5>

<p>
    <b>
        <h5>Daily Affirmations: Write down three things about yourself that you want to reinforce (ex: I am a great software engineer)</h5>
    </b>
</p>

<h5>
    ✍️ Your response:  <i>{{ single_journal_entry.q3_text }}</i>
</h5>

</div>

{% endblock %}